.root {
    -fx-background-color: #5a5a5a;
  ]   -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.text-field, .text-area {
    -fx-background-color: #000000F0;
    -fx-text-fill: #5a5a5a;
    -fx-prompt-text-fill: #5a5a5a;

    -fx-border-color: #000000F0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-padding: 8px
}

.text-area .content {
    -fx-background-color: #ffffff;
}

